%p.controls
  = link_to t('label.common.view_changes'), diff_article_path(article) 
  |
  - if article.translated?
    = link_to t('label.common.editTranslation'), edit_article_path(article)
  - else
    - if article.locale.to_s == I18n.locale.to_s
      = link_to t('label.common.edit'), edit_article_path(article)
    - else
      = link_to t('label.common.translate'), translate_article_path(article)
  |

  = link_to t('label.common.delete'), article, method: :delete, data: {confirm: t("message.common.sure")}
</p>
