<p class="controls">
  <%= link_to t('label.common.view_changes'), diff_article_path(:id => article.id, :lang => params[:lang]) %> |
  <% if article.translated? %>
    <%= link_to t('label.common.editTranslation'), edit_article_path(:id => article.id, :lang => params[:lang]) %>
  <% else %>
    <% if article.locale == I18n.locale %>
      <%= link_to t('label.common.edit'), edit_article_path(:id => article.id, :lang => params[:lang]) %>
    <% else %>
      <%= link_to t('label.common.translate'), translate_article_path(:id => article.id, :lang => params[:lang]) %>
    <% end %>
  <% end %> |

  <%= link_to t('label.common.delete'), article_path(:id => article.id, :lang => params[:lang]), :method => :delete, :confirm =>t("message.common.sure") %>
</p>
