<% versions = @article.kind_of?(Article) ? @article.versions :  @article.article.versions -%>

<%= form_tag(diff_article_path(:version => nil)) do %>
  <table class="data">
    <tr>
      <th><%= t("label.diff.version") %></th>
      <th><%= t("label.diff.from") %></th>
      <th><%= t("label.diff.to") %></th>
      <th><%= t("label.diff.changed_at") %></th>
      <th><%= t("label.diff.editor") %></th>
    </tr>
    <%= versions.each_with_index do |v, i| -%>
      <tr class="<%= (i % 2 == 0) ? 'even' : 'odd' %>">
        <td><%= v.version %></td>
        <td><%= radio_button_tag("prev_version", v.version,
            @prev && (@prev.version == v.version)) %></td>
        <td><%= radio_button_tag("version", v.version,
            @article.version == v.version)%></td>
        <td><%= format_date(v.updated_at) %></td>
        <% user = User.find_by_id(v.user_id) %>
        <td><%= user ? user.full_name :  t("label.common.unknown_user") %>
          <%= "(#{user.login})" if(user && admin?) %>
        </td>
      </tr>
    <% end -%>
  </table>
  <%= submit_tag t('label.common.view_changes') %>
<% end -%>
