<h1><%= t('label.article.listing')%></h1>

<table>
  <tr>
    <th><%= t('label.article.category')%></th>
    <th><%= t('label.article.name')%></th>
    <th><%= t('label.article.locale')%></th>
    <th><%= t('label.article.title')%></th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.category %></td>
    <td><%=h article.name %></td>
    <td><%=h article.locale %></td>
    <td><%=h article.title %></td>
    <td><%= link_to t('label.common.show'), article_path(:id => article.id) %></td>
    <td><%= link_to t('label.common.edit'), edit_article_path(:id => article.id) %></td>
    <td><%= link_to t('label.common.delete'), article_path(:id => article.id), :confirm => t('message.common.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('label.article.new'), new_article_path %>
