%h1= t('label.article.listing')

%table.data
  %thead
    %tr
      %th= t('label.article.category')
      %th= t('label.article.name')
      %th= t('label.article.locale')
      %th= t('label.article.title')
      %th
      %th
      %th
  - @articles.each_with_index do |article, i| 
    %tr{:class => %w(even odd)[i%2]}
      %td= article.category
      %td= article.name
      %td= article.locale
      %td= article.title
      %td= link_to t('label.common.show'), article
      %td= link_to t('label.common.edit'), edit_article_path(article)
      %td= link_to t('label.common.delete'), article, data: {confirm: t('message.common.sure')}, method: :delete

= link_to t('label.article.new'), new_article_path
