<h1><%= t('label.statistics.conference', :conference => @conference.name
)%></h1>

<%= render :partial => "statistics/menu" %>

<h2><!-- --></h2>
<table class="data">
  <tr>
    <th><%= t('label.user.country') %></th>
    <th><%= t('label.common.count') %></th>
  </tr>
  <% @countries.each_with_index do |stat, i| -%>
  <tr class="<%= i % 2 == 1 ? 'odd' : 'even'%>">
    <td><%= stat.first%></td>
    <td><%= stat.second.length %></td>
  </tr>
  <% end %>
</table>
