<p><%= t('message.user.accuracy_note')%></p>

<p><label for="password"><%= t 'label.user.password'%></label> <strong class="required">*</strong><br/>
  <%= f.password_field :password %></p>

<p><label for="password_confirmation"><%= t 'label.user.password_confirmation'%></label> <strong class="required">*</strong><br/>
  <%= f.password_field :password_confirmation %></p>

<p><label for="email"><%= t 'label.user.email'%></label> <strong class="required">*</strong><br/>
  <%= f.text_field :email %></p>

<p><label for="first_name"><%= t 'label.user.first_name'%></label> <strong class="required">*</strong><br/>
  <%= f.text_field :first_name %></p>

<p><label for="last_name"><%= t 'label.user.last_name'%></label> <strong class="required">*</strong><br/>
  <%= f.text_field :last_name %></p>

<p><label for="country"><%= t 'label.user.country'%></label> <strong class="required">*</strong><br/>
  <%= f.country_select :country, ['Belarus', 'Ukraine', 'Russia'] %></p>

<p><label for="city"><%= t 'label.user.city'%></label> <strong class="required">*</strong><br/>
  <%= f.text_field :city %></p>

<p><label for="occupation"><%= t 'label.user.occupation'%></label> <strong class="required">*</strong><br/>
  <%= f.text_field :occupation %></p>

<p><label for="projects"><%= t 'label.user.projects'%></label><br/>
  <%= f.text_area :projects, :style => 'width: 100%', :rows => 5 %></p>

<p> <%= t('message.user.required_fields', :mark => '<strong class="required">*</strong>') %></p>

<p><%= t("message.user.privacy", :link => article_link(t('message.user.privacy_link'), 'users', 'privacy'))%></p>
