
<%= flashes_if_any %>

<%= error_messages_for :user, 
:header_message => 'Регистрация не завершена',
:message => 'Для завершения регистрации вы должны выполнить следующие требования:' %>

<% form_for :user, :url => users_path(:lang => params[:lang]) do |f| -%>
  <p><label for="login">Login</label> <strong class="required">*</strong><br/>
  <%= f.text_field :login %></p>

 <p><label for="email">E-mail</label> <strong class="required">*</strong><br/>
  <%= f.text_field :email %></p>

  <p><label for="first_name">Имя</label> <strong class="required">*</strong><br/>
  <%= f.text_field :first_name %></p>

  <p><label for="last_name">Фамилия</label> <strong class="required">*</strong><br/>
  <%= f.text_field :last_name %></p>

  <p><label for="quantity">Если вы планируете взять с собой на LVEE кого-то еще в качестве сопровождающих персон, укажите их количество</label><br/>
  <%= f.text_field :quantity %></p>

  <p><label for="country">Страна</label> <strong class="required">*</strong><br/>
  <%= f.country_select :country, ['Belarus', 'Ukraine', 'Russia'] %></p>

  <p><label for="city">Населенный пункт</label> <strong class="required">*</strong><br/>
  <%= f.text_field :city %></p>

  <p><label for="location">Место работы/учебы и сфера деятельности</label> <strong class="required">*</strong><br/>
  <%= f.text_field :occupation %></p>

  <p><label for="projects">Проекты Free Software / Open Source (FS/OS), в которых вы принимали
и/или принимаете участие и ваша роль в них</label><br/>
  <%= f.text_area :projects, :style => 'width: 100%', :rows => 5 %></p>

  <p><label for="proposition">
Так как свободное ПО создаётся сообществом с привлечением множества
добровольцев, то расскажите, пожалуйста, что Вы могли бы привнести в
нашу встречу. Пусть это будет доклад или менее формальный рассказ в
рамках круглого стола (workshop) о внедрении, использовании или
разработке свободного ПО вами или в вашей организации. Если вы
собираетесь сделать доклад или организовать семинар на конференции,
укажите тему предлагаемого вами доклада, а также вышлите на
<%= mail_to 'd.kostiuk@lvee.org' %> тезисы выступления.
  </label><br/>
  <%= f.text_area :proposition, :style => 'width: 100%', :rows => 5 %></p>



  <p><label for="password">Пароль</label> <strong class="required">*</strong><br/>
  <%= f.password_field :password %></p>

  <p><label for="password_confirmation">Подтвержедние пароля</label> <strong class="required">*</strong><br/>
  <%= f.password_field :password_confirmation %></p>

  <p> Поля обозначенные красной звездочкой (<strong class="required">*</strong>) обязательны для заплонения
  </p>

  <p><%= submit_tag 'Зарегистрироваться' %></p>

<% end -%>
