<h3><%= describe_user(@user) %></h3>
<p><%= t 'label.user.email'%>: <%= mail_to @user.email %></p>
<p><%= t 'label.user.occupation'%>: <%= @user.occupation %></p>
<p><%= t 'label.user.projects'%>: <%= @user.projects %></p>

<% if @user.id == current_user.id %>
  <%= render :partial => 'conference_registrations/user_conferences' %>
  <hr />
  <%= link_to t('label.user.edit'), edit_user_path(:id => @user) %>
<% end %>
