<h3>Участник: <%= @user.full_name %> (<%= @user.country %>, <%= @user.city %>)... </h3>

<p>Электропочта: <%= mail_to @user.email %></p>
<p>Вид деятельности: <%= @user.occupation %></p>
<p>Населенный пункт: <%= @user.city %></p>
<p>Проекты: <%= @user.projects %></p>
<p>Предложение: <%= @user.proposition %></p>

<% if @user.id == current_user.id %>
  <hr />
  <%= link_to 'Редактировать данные', edit_user_path(@user) %>
<% end %>
