%h3= describe_user(@user)

- if @user.avator && @user.avator.url
  #avatar= image_tag(@user.avator.url)
#uploadAvator
  %p= t("message.user.avator_upload")
  = form_tag(upload_user_avator_path(:id => @user), :multipart => true) do
    =label_tag "user_avator", t("label.user.avator")
    = file_field "user", :avator
    = submit_tag t("label.common.upload")
%p
  %label= "#{t('label.user.email')}:"
  = mail_to @user.email
%p
  %label= "#{t('label.user.occupation')}:"
  = @user.occupation
%p
  %label= "#{t('label.user.projects')}:"
= simple_format(@user.projects)


- if @user.id == current_user.id
  = link_to(t('label.conference_registration.abstracts'), abstracts_path, :class => "big-button")
  = render 'conference_registrations/user_conferences'
  %hr/
  = link_to(t('label.user.edit'), edit_user_path(:id => @user))
