<h3><%= describe_user(@user) %></h3>

<% if @user.avator -%>
<div id="avator">
  <%= image_tag(url_for_file_column("user", "avator")) %>
</div>
<% end -%>
<div id="uploadAvator">
<p><%= t("message.user.avator_upload") %></p>
<% form_tag(upload_user_avator_path(:id => @user), :multipart => true) do %>
<label for="user_avator"><%= t("label.user.avator") %></label>
<%= file_column_field "user", "avator" %>
<%= submit_tag t("label.common.upload")%>
<% end %>
</div>
<p><%= t 'label.user.email'%>: <%= mail_to @user.email %></p>
<p><%= t 'label.user.occupation'%>: <%= h @user.occupation %></p>
<p><%= t 'label.user.projects'%>:</p>
<%= simple_format(@user.projects) %>


<% if @user.id == current_user.id %>
  <%= render :partial => 'conference_registrations/user_conferences' %>
  <hr />
  <%= link_to t('label.user.edit'), edit_user_path(:id => @user) %>
<% end %>

<%# FIXME: Move to sidebar menu! on new design -%>
<%= render :partial => "/users/editor_dashboard" if current_user.editor? %>
<%= render :partial => "/users/admin_dashboard" if current_user.admin? %>
