<h3><%= describe_user(@user) %></h3>

<% if @user.avator -%>
<div id="avator">
  <%= image_tag(url_for_file_column("user", "avator")) %>
</div>
<% else -%>
<%= t("message.user.upload_avator_link", 
    :link => link_to(t('message.user.upload_avator_link_text'), edit_user_path(:id => @user))) %>
<% end -%>

<p><%= t 'label.user.email'%>: <%= mail_to @user.email %></p>
<p><%= t 'label.user.occupation'%>: <%= @user.occupation %></p>
<p><%= t 'label.user.projects'%>: <%= @user.projects %></p>


<% if @user.id == current_user.id %>
  <%= render :partial => 'conference_registrations/user_conferences' %>
  <hr />
  <%= link_to t('label.user.edit'), edit_user_path(:id => @user) %>
<% end %>

<%# FIXME: Move to sidebar menu! on new design -%>
<%= render :partial => "/users/editor_dashboard" if current_user.editor? %>
<%= render :partial => "/users/admin_dashboard" if current_user.admin? %>
