 <p>
  <b><%= t('label.conference.name')%></b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b><%= t('label.conference.start_date')%></b><br />
  <%= f.calendar_date_select :start_date %>
</p>

<p>
  <b><%= t('label.conference.finish_date')%></b><br />
  <%= f.calendar_date_select :finish_date %>
</p>

<p>
  <b><%= t('label.conference.registration_opened?')%></b><br />
  <%= f.check_box :registration_opened %>
</p>
