<h1><%= t('label.conference.listing')%></h1>

<table>
  <tr>
    <th><%= t('label.conference.name')%></th>
    <th><%= t('label.conference.start_date')%></th>
    <th><%= t('label.conference.finish_date')%></th>
    <th><%= t('label.conference.registration_opened?')%></th>
  </tr>

<% for conference in @conferences %>
  <tr>
    <td><%=h conference.name %></td>
    <td><%=h format_date(conference.start_date) %></td>
    <td><%=h format_date(conference.finish_date) %></td>
    <td><%=h conference.registration_opened %></td>
    <td><%= link_to t('label.common.show'), admin_conference_path(:id => conference) %></td>
    <td><%= link_to t('label.common.edit'), edit_admin_conference_path(:id => conference) %></td>
    <td><%= link_to t('label.common.delete'), admin_conference_path(:id => conference), :confirm => t('message.common.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('label.conference.new'), new_admin_conference_path %>
