<h1><%= t('label.conference.creating')%></h1>

<% form_for(@conference, :url => admin_conferences_path) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f}%>

  <p>
    <%= f.submit t('label.common.create') %>
  </p>
<% end %>

<%= link_to t('label.common.back'), admin_conferences_path %>
