%p.controls
  - if news.translated?
    = link_to t('label.common.editTranslation'), edit_news_item_path(news)
  - else
    - if news.locale.to_s == I18n.locale.to_s
      = link_to t('label.common.edit'), edit_news_item_path(news)
    - else
      = link_to t('label.common.translate'), translate_news_path(:parent_id => news.id, :locale=>I18n.locale)
  |
  - if news.published_at
    - if news.published?
      = t('label.news.published_at', :published => l(news.published_at, :format => :short))
    - else
      = t('label.news.will_be_published', :published => l(news.published_at, :format => :long))
  - else
    = link_to t('label.common.publish'), publish_news_item_path(news)
  |
  - if admin? && !news.published?
    = link_to t('label.common.publish_now'), publish_now_news_item_path(news), data: {confirm: t("message.common.sure")}
  |

  = link_to(t('label.common.delete'), news_item_path(news), |
    method: :delete, data: {confirm: t("message.common.sure")})
