<p class="controls">
  <% if news.translated? %>
    <%= link_to t('label.common.editTranslation'), edit_news_item_path(:id => news.id) %>
  <% else %>
    <% if news.locale == I18n.locale %>
      <%= link_to t('label.common.edit'), edit_news_item_path(:id => news.id) %>
    <% else %>
      <%= link_to t('label.common.translate'), translate_news_path(:parent_id =>
         news.id, :locale=>I18n.locale) %>
    <% end %>
  <% end %> |
  <% if news.published_at -%>
    <% if news.published? -%>
      <%= t('label.news.published_at', :published => l(news.published_at, :format => :short))%>
    <% else -%>
      <%= t('label.news.will_be_published', :published =>
    l(news.published_at, :format => :long))%>
    <% end -%>
  <% else -%>
    <%= link_to t('label.common.publish'), publish_news_item_path(:id => news.id) %>
  <% end -%> |
  <% if admin? && !news.published? -%>
    <%= link_to t('label.common.publish_now'),
    publish_now_news_item_path(:id => news.id), :confirm =>t("message.common.sure") %> |
  <% end -%>

  <%= link_to t('label.common.delete'), news_item_path(:id => news.id),
  :method => :delete, :confirm =>t("message.common.sure") %>
</p>
