<%= f.hidden_field :parent_id %>
<%= f.hidden_field :locale %>
<p>
  <b><%= t('label.news.title')%></b><br />
  <%= f.text_field :title %>
</p>

<p>
  <b><%= t('label.news.abstract')%></b><br />
  <%= f.text_area :lead, :rows => 4 %>
</p>

<p>
  <b><%= t('label.news.body')%></b><br />
  <%= f.text_area :body, :cols => 80, :rows => 20 %>
</p>
<p>Please input news abstract and body in <a href="http://www.textism.com/tools/textile/">Textile</a> format</p>
