<h1>Создание новости</h1>

<%= error_messages_for :news %>

<% form_for(@news) do |f| %>
  <p>
    <b>Заголовок</b><br />
    <%= f.text_field :title %>
  </p>


  <p>
    <b>Лид</b><br />
    <%= f.text_area :lead %>
  </p>

  <p>
    <b>Текст</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

<%= link_to 'Показать', @news %> |
<%= link_to 'Список новостей', news_path %>
