<h1><%= t('label.news.editing')%></h1>

<%= error_messages_for :news %>

<div id="preview_place"> </div>

<%= form_for(@news, :url => news_item_path(:id => @news, :lang => params[:lang])) do |f| %>
<%= render :partial => "/news/form", :locals => {:f => f} %>

<p>
  <%# FIXME %>
  <%#= submit_to_remote("preview_btn", t('label.common.preview'),
       :url => {:action => "preview"}, :update => {:success => 'preview_place'}) %>
  <%= f.submit t('label.common.save') %>
</p>
<% end %>

<%= link_to t('label.common.show'), news_item_path(:id => @news, :lang => params[:lang]) %> |
<%= link_to t('label.news.back_to_list'), news_items_path(:lang => params[:lang]) %>
