<h1><%= t('label.news.creating')%></h1>

<%= error_messages_for :news %>

<% form_for(@news, :url => news_path ) do |f| %>
<%= render :partial => "/news/form", :locals => {:f => f} %>
  <p>
    <%= f.submit t('label.common.save') %>
  </p>
<% end %>

<%= link_to t('label.news.back_to_list'), news_path %>
