<h1><%=h @news.title %></h1>

<p><%=format_date(@news.created_at) %></p>

<p class="abstract"><%= textilize_without_paragraph(@news.lead) %></p>

<div class="text">
  <%=textilize(@news.body) %>
</div>

<p>
  <b><%= t('label.news.author') %>:</b>
  <%=h @news.user.full_name %>
</p>

<%= render(:partial => 'news/editor_actions', :locals => {:news => @news}) if editor? -%>
<%= link_to t('label.news.back_to_list'), news_item_index_path(:lang => params[:lang]) %>
<p />
<div class="js-kit-comments" permalink="" uniq="<%= @metainfo.try(:page) %>"></div><script src="http://js-kit.com/for/lvee.org/comments.js"></script>
