<h1><%=h @news.title %></h1>

<p><%=format_date(@news.created_at) %></p>

<p class="abstract"><%= textilize_without_paragraph(@news.lead) %></p>

<div class="text">
  <%=textilize(@news.body) %>
</div>

<p>
  <b><%= t('label.news.author') %>:</b>
  <%=h @news.user.full_name %>
</p>

<g:plusone size="medium"></g:plusone>

<%= render(:partial => 'news/editor_actions', :locals => {:news => @news}) if editor? -%>
<%= link_to t('label.news.back_to_list'), news_item_index_path(:lang => params[:lang]) %>
<p />
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'lveeconf';
    var disqus_identifier = '<%= @canonical_path %>';
    <% if Rails.env == 'development' -%>
      disqus_developer = true;
    <% end -%>
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
