- author = User.find_by_id(@current_version.author_id)
- if @previous_version
  %h1= t("label.diff.change_abstract_title", 
    :author => author.full_name,
    :from => @previous_version.version, :to => @current_version.version)
- else
  %h1= t("label.diff.new_abstract_title", 
    :author => author.full_name)

#diff= controller.display_diff(@previous_version, @current_version, :render_abstract)
= render "abstracts/versions"
= link_to("Back", params[:user_id] ? user_abstracts_path(:user_id => params[:user_id], |
  :id => params[:id]) : diff_abstract_path(:id => params[:id]))
