
- if reviewer?
  %h1= t("label.abstract.list")
  %p
    = t("label.abstract.list_selection")
    = link_to_if @limit, t('label.abstract.for_review'), abstracts_path
    \|
    = link_to_unless @limit, t('label.abstract.yourself'), abstracts_path(:only => 'user')
- else
  %h1= t("label.abstract.list_user")

%table{:class => "data"}
  %thead
    %tr
      - unless @limit
        %th= t("label.abstract.user")
      %th= t("label.abstract.title")
      %th= t("label.abstract.updated_at")
      %th

  - @abstracts.each_with_index do |abstract, i|
    %tr{:class => "#{(i % 2 == 0) ? 'even' : 'odd'}" }
      - unless @limit
        %td
          - users = abstract.users
          - if users.size == 1
            - u = abstract.users.first
            = u.full_name
            = "(#{u.login})" if admin?
          - else
            %ul
              - users.each do |u|
                %li
                  = u.full_name
                  = "(#{u.login})" if admin?
      %td= abstract.title
      %td= format_date(abstract.updated_at)
      %td= link_to t("label.common.show"), abstract

- unless @actual_conferences.empty?
  = link_to t("label.abstract.create_new"), new_abstract_path
