- versions = @wiki_page.respond_to?(:versions) ? @wiki_page.versions :  @wiki_page.wiki_page.versions


= form_tag(diff_wiki_page_path(:version => nil, :id=> @wiki_page.name)) do
  %table.data
    %thead
      %tr
        %th= t("label.diff.version")
        %th= t("label.diff.from")
        %th= t("label.diff.to")
        %th= t("label.diff.changed_at")
        %th= t("label.diff.editor")
    - versions.each_with_index do |v, i|
      %tr{:class=>"#{(i % 2 == 0) ? 'even' : 'odd'}"}
        %td= v.version
        %td= radio_button_tag("prev_version", v.version, @prev && (@prev.version == v.version))
        %td= radio_button_tag("version", v.version, @wiki_page.version == v.version)
        %td= format_date(v.updated_at)
        - user = User.find_by_id(v.user_id)
        %td
          = user ? user.full_name : t("label.common.unknown_user")
          = "(#{user.login})" if(user && admin?)
  = submit_tag t('label.common.view_changes')
