<h1><%= t('label.wiki_page.editing') %></h1>

<div id="preview_place"> </div>

<%= form_for(@wiki_page, :url => wiki_page_path(:id => @wiki_page.name, :lang => params[:lang])) do |f| %>
  <%= f.error_messages %>

  <%= hidden_field "wiki_page", "version" %>
  <%= render :partial => "/wiki_pages/form" , :locals => {:f => f}%>

  <p>
    <%= f.submit t('label.common.preview'), "data-remote-preview" => true,
      "data-update" => 'preview_place', "data-url" => preview_wiki_pages_url(:lang => params[:lang]), "data-method" => "PUT" %>
    <%= f.submit t('label.common.update') %>
  </p>
<% end %>

<%= link_to t('label.common.show'), wiki_pages_path(:lang => params[:lang]) %> |
<%= link_to t('label.common.back_to_list'), wiki_pages_path(:lang => params[:lang])%>
