<p>
  <b><%= t('label.language.id')%></b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b><%= t('label.language.name')%></b><br />
  <%= f.text_field :description %>
</p>

<p>
  <b><%= t('label.language.published')%></b><br />
  <%= f.check_box :published %>
</p>
