<h1><%= t('label.language.creating')%></h1>

<% form_for(@language, :url =>editor_language_path(:id=>@language)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "/editor/languages/form", :locals => {:f => f} %>

  <p>
    <%= f.submit t('label.common.update') %>
  </p>
<% end %>

<%= link_to t('label.common.show'), editor_language_path(:id => @language) %> |
<%= link_to t('label.common.back'), editor_languages_path %>
