<h1><%= t('label.language.listing')%></h1>

<table class="data">
  <tr>
    <th>Id</th>
    <th>Code3</th>
    <th>Name</th>
    <th>Published?</th>
    <th />
    <th />
    <th />
    <th />
  </tr>

<% for language in @languages %>
  <tr>
    <td><%= h language.name %></td>
    <td><%= h language.code3 %></td>
    <td><%= h language.description %></td>
    <td><%= h language.published %></td>
    <td><%= link_to t('label.common.upload'), editor_language_path(:id => language, :lang => params[:lang]) %></td>
    <td><%= link_to t('label.common.edit'), edit_editor_language_path(:id => language, :lang => params[:lang]) %></td>
    <td><%= link_to t('label.common.download'), download_editor_language_path(:id => language, :format => 'yml', :lang => params[:lang]) %></td>
    <td><%= link_to t('label.common.delete'), editor_language_path(:id => language, :lang => params[:lang]), :confirm => t('message.common.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('label.language.new'), new_editor_language_path(:lang => params[:lang]) %>
