- unless @available_conferences.empty?
  - @available_conferences.each  do |conf|
    %p.register
      = link_to(t('label.conference.register', conference: conf.name ), |
        new_user_conference_registration_path(user_id: @user.id, conference_id: conf), |
        :class => "big-button")

- unless @current_registrations.empty?
  - @current_registrations.each  do |reg|
    - conf = reg.conference
    - if reg.cancelled?
      %p.cancelled
        = "#{conf.name} (#{format_date(conf.start_date)} - #{format_date(conf.finish_date)}) -"
        %b= t('label.conference_registration.cancelled')
    - else
      - type = (reg.approved? ? (reg.filled? ? "edit" : "approved_edit") : "edit")
      - title = "label.conference_registration." + type
      %p{class: type}
        = link_to(t(title, :conference => conf.name), |
          edit_user_conference_registration_path(user_id: @user, id: reg),  :class => "big-button")

        - if reg.approved? and reg.filled?
          = link_to(t("label.conference_registration.badges"), |
            badges_user_conference_registration_path(user_id: @user, id: reg), class: "big-button")
        = link_to(t("label.conference_registration.cancel_registration"), |
          cancel_user_conference_registration_path(user_id: @user, id: reg), |
          data:{confirm: t("message.common.sure")})

- unless @participated_conferences.empty?
  %h2= "#{t('label.conference.participated')}:"
  %ul.participated
    - @participated_conferences.each do |reg|
      - conf = reg.conference
      %li
        = "#{conf.name} (#{format_date(conf.start_date)} - #{format_date(conf.finish_date)})"

