<% user_id = params[:user_id] || @user.id -%>
<% actual = ConferenceRegistration.find_actual_for_user(user_id) -%>
<% now = Time.now -%>
<% participated = actual.find_all {|r| r.conference.finish_date && r.conference.finish_date.to_time < now} -%>
<% regs = actual - participated -%>
<% available = Conference.available_conferences(actual.map {|c|  c.conference}) %>

<% unless available.empty? -%>
  <% available.each  do |conf| -%>
    <p>
      <%= link_to(t('label.conference.register', :conference => conf.name ),
        {:controller => "conference_registrations", :action => 'new', :user_id => user_id,
          :conference_id => conf.id}, :class => "big-button")  %>
    </p>
  <% end -%>
<% end -%>

<% unless regs.empty? -%>
  <% regs.each  do |reg| -%>
    <% conf = reg.conference -%>
    <p>
      <% if reg.cancelled? -%>
        <%= h conf.name %> (<%= format_date(conf.start_date) %> - <%= format_date(conf.finish_date) %>)
        - <b>Cancelled</b>
      <% else -%>
        <% type = (reg.approved? ? (reg.filled ? "edit" : "approved_edit") : "edit") %>
        <% title = "label.conference_registration." + type %>
        <%= link_to(t(title, :conference => conf.name), edit_user_conference_registration_path(:user_id => user_id, :id => reg.id),
          :class => "big-button")%>
        <% if reg.approved? and reg.filled -%>
          <%= link_to(t("label.conference_registration.badges"), badges_user_conference_registration_path(:user_id => user_id, :id => reg.id),
            :class => "small-button")%>
        <% end -%>
        <%= link_to(t("label.conference_registration.cancel"), cancel_user_conference_registration_path(:user_id => user_id, :id => reg.id),
          :confirm => t("message.common.sure"), :method => :delete) %>
      <% end -%>
    </p>
  <% end -%>
<% end -%>


<% unless participated.empty? -%>
<h2><%= t('label.conference.participated')%>:</h2>
<ul>
  <% participated.each  do |reg| -%>
    <% conf = reg.conference -%>
    <li>
      <%= h conf.name %>
      (<%= format_date(conf.start_date) %> -
      <%= format_date(conf.finish_date) %>)
    </li>
  <% end -%>
</ul>
<% end -%>
