<h1><%= t('label.conference_registration.title', :conference =>@registration.conference.name)%></h1>

<%= error_messages_for :registration %>

<% form_for(@registration, :url =>
user_conference_registrations_path(:user_id =>params[:user_id]) ) do |f| %>
<%= f.hidden_field(:conference_id )%>
<%= render :partial => 'form', :locals => {:f => f}%>

<p>
  <%= f.submit t('label.common.save') %>
</p>

<% end %>

<%= link_to t('label.user.to_profile'), user_path(:id => current_user) %>
