<h1>Conference registration for <%= @registration.conference.name %>></h1>

<%= error_messages_for :registration %>

<% form_for(@registration, :url => user_conference_registrations_path(params[:user_id]) ) do |f| %>
<%= f.hidden_field(:conference_id )%>
<%= render :partial => 'form', :locals => {:f => f}%>

<p>
  <%= f.submit "Сохранить" %>
</p>

<% end %>

<%= link_to 'To your profile', user_path(current_user) %>
