<h1><%= h @conference.name %></h1>

<table class="data">
  <tr>
    <th><%= t('label.user.photo') %></th>
    <th><%= t('label.user.full_name') %></th>
    <th><%= t('label.user.from') %></th>
    <th><%= t('label.user.projects') %></th>
    <th><%= t('label.conference_registration.proposition_list') %></th>
  </tr>
  <% @registrations.each_with_index do |reg, i| -%>
  <tr class="<%= i % 2 == 1 ? 'odd' : 'even'%>">
    <% image_path = reg.user.avator ? url_for_image_column(reg.user, 'avator', :list) : nil %>
    <td><%= image_tag(image_path) if image_path %></td>
    <td><%= h reg.user.full_name %></td>
    <td><%= h reg.user.country %>, <%= h reg.user.city %></td>
    <td><%= simple_format(reg.user.projects)%></td>
    <td><%= simple_format(reg.proposition)%></td>
  </tr>
  <% end -%>
</table>
