<h1><%= h @conference.name %></h1>

<% countries = @registrations.map(&:user).group_by(&:country).
   sort_by{|item| -item.second.length} %>

<h2>Statistics by countries:</h2>
<table class="data">
  <tr>
    <th><%= t('label.user.country') %></th>
    <th><%= t('label.common.count') %></th>
  </tr>
  <% countries.each_with_index do |stat, i| -%>
  <tr class="<%= i % 2 == 1 ? 'odd' : 'even'%>">
    <td><%= stat.first%></td>
    <td><%= stat.second.length %></td>
  </tr>
  <% end %>
</title>

<table class="data">
  <tr>
    <th><%= t('label.user.photo') %></th>
    <th><%= t('label.user.full_name') %></th>
    <th><%= t('label.user.country') %></th>
    <th><%= t('label.user.city') %></th>
    <th><%= t('label.user.projects') %></th>
    <th><%= t('label.conference_registration.proposition_list') %></th>
  </tr>
  <% @registrations.each_with_index do |reg, i| -%>
  <tr class="<%= i % 2 == 1 ? 'odd' : 'even'%>">
    <% image_path = url_for_image_column(reg.user, 'avator', :list) %>
    <td><%= image_tag(image_path) if image_path %></td>
    <td><%= h reg.user.full_name %></td>
    <td><%= h reg.user.country %></td>
    <td><%= h reg.user.city %></td>
    <td><%= simple_format(reg.user.projects)%></td>
    <td><%= simple_format(reg.proposition)%></td>
  </tr>
  <% end -%>
</table>
