<table class="data">
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Name</th>
    <th>Conferences</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  <% @users.each_with_index do |user, i| %>
  <tr id="<%= dom_id(user) %>" class="<%= (i % 2 == 0) ? 'even' : 'odd' %>">
    <td><%= i %></td>
    <td><%= h user.login %></td>
    <td><%= link_to user.full_name, user_path(:id => user) %></td>
    <td><%= h user.conference_registrations.map{|r| r.conference.name}.join(', ') %></td>
    <td>
      <% params = {:controller=>'admin/users', :action=>'set_role', :id => user.id} -%>
      <% form_remote_tag(:html => {:id => 'form_'+dom_id(user)}, :url=>params) do -%>

      <%= select_tag("role", options_for_select(ROLES, user.role), :id => "field_"+dom_id(user)) %>
      <%= observe_field("field_"+dom_id(user), :function =>"$('form_"+dom_id(user)+"').onsubmit()") %>
      <% end -%>
    </td>
    <td>
      <%= link_to_remote 'delete', :url => admin_user_path(:id => user), :method =>
      :delete, :confirm => t('message.common.sure') %> |
      <%= link_to('send email', admin_mail_user_path(:id => user)) %>
    </td>
    <% end %>
  </tr>
</table>
