
<p>
  <%= link_to_function "Mark All", "mark_all_users()" %> |
  <%= link_to_function "Unmark All", "unmark_all_users()" %> |
  <%= link_to_function "Send mail to checked", "send_mail_to_checked_users()" %>
</p>

<table class="data" id="users">
  <tr>
    <th>Id</th>
    <th></th>
    <th><%= t('label.user.login') %></th>
    <th><%= t('label.user.full_name') %></th>
    <th>Active?</th>
    <th>Conferences</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  <% @users.each_with_index do |user, i| %>
    <tr id="<%= dom_id(user) %>" class="<%= (i % 2 == 0) ? 'even' : 'odd' %>">
      <td><%= i+1 %></td>
      <td><%= check_box_tag "to_user[]", user.id, false, :class =>
          "user_check", :id => "to_#{dom_id(user)}" %></td>
      <td><%= h user.login %></td>
      <td><%= link_to user.full_name, user_path(:id => user.id, :lang => params[:lang]) %></td>
      <td><%= user.active? %></td>
      <td><%= h user.conference_registrations.map{|r| r.conference.name}.join(', ') %></td>
      <td>
        <%= form_tag(set_role_admin_user_path(:id => user.id, :lang => params[:lang]), :remote => true, :html => {:id => 'form_'+dom_id(user)}) do -%>
          <%= select_tag("role", options_for_select(ROLES, user.role), :id => "field_"+dom_id(user)) %>
          <%#= observe_field("field_"+dom_id(user), :function =>"$('form_"+dom_id(user)+"').onsubmit()") %>
        <% end -%>
      </td>
      <td>
        <%= link_to t('label.common.delete'), admin_user_path(:id => user.id, :lang => params[:lang]), :method => :delete, :confirm => t('message.common.sure'), :remote => true, :confirm => "Are you sure?" %> |
        <%= link_to('send email', admin_mail_user_path(:to_list => user.id, :lang => params[:lang])) %>
      </td>
    <% end %>
  </tr>
</table>
