<h1>Mailer</h1>
<% form_tag({:action => "send_mail"}, :multipart => true) do -%>
<p><label to="to">To:</label>
<%= text_field_tag "to", params[:to] %></p>

<p><label to="subject">Subject:</label>
<%= text_field_tag "subject", params[:subject] %></p>

<p><label to="body">Body:</label>
<%= text_area_tag "body", params[:body], :cols => 80, :rows => 20 %></p>
<p><label to="attachment">Attachment:</label>
<%= file_field_tag "attachment" %></p>
<%= submit_tag "Send" %>
<% end -%>
