#preview_place
= form_for @thesis do |f|
  = f.error_messages
  -  if @thesis.new_record?
    - if @actual_conferences.length == 1
      = f.hidden_field :conference_id
      = f.label :conference_id
      = text_field_tag :conference, @actual_conferences.first.name, :disabled => true
    - else
      .field
        = f.label :conference_id
        = f.select :conference_id, @actual_conferences.map {|c| [c.name, c.id]}
  - else
    .field
      = f.label :conference_id
      = text_field_tag :conference, @thesis.conference.name, :disabled => true
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :authors
    = f.text_field :authors
  .field
    = f.label :abstract
    = f.text_area :abstract, :rows => 5, :cols => 40
  .field
    = f.text_area :body, :rows => 20, :cols => 80
  .field
    = f.label :change_summary
    = f.text_field :change_summary
  .field
    = f.label :ready_for_review
    = f.check_box :ready_for_review
  .actions
    = f.submit t('label.common.preview'), :data => {"remote-preview" => true, |
      :update => 'preview_place', :url => preview_thesises_url(:lang => params[:lang]), :method => "PUT"}
    = f.submit t('label.common.save')
