= render "/thesises/show"

- if params[:user_id]
  = link_to "Edit", edit_user_thesises_path(current_user.id, @thesis.conference_registration_id)
  \|
  = link_to "Diff", diff_user_thesises_path(current_user.id, @thesis.conference_registration_id)
  \|
  = link_to 'Back', user_path(current_user.id)
- else
  = link_to "Edit", edit_thesis_path(@thesis.id)
  \|
  = link_to "Diff", diff_thesis_path(@thesis.id)
  \|
  = link_to 'Back', thesises_path

%h2.comments Comments
%ol#comments
  - @comments.each_with_index do |comment, i|
    %li{:class => ["#{comment.user_id == @thesis.conference_registration.user_id ? 'user_comment' : 'reviewer_comment'}", "comment"] }
      .author
        - image_path = comment.user.avator.url ? comment.user.avator.list.url : nil
        .pic= image_tag(image_path) if image_path
        .name= comment.user.full_name
        .updated= t("label.common.time_ago", :time => distance_of_time_in_words_to_now(comment.updated_at))
      .body= simple_format(comment.body)
      .end
= form_for @new_comment, :url => add_comment_thesis_path(@thesis) do |f|
  = f.text_area :body
  %br/
  = f.submit "Add comment"