<div class="footer">
  <span class="copy"><%= t('message.license.text')%> <br /> <a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="/images/80x15.png" alt="licensed under Creative Commons" /></a></span>


  <div class="column">
    <h4><%= article_link(t('menu.conference.about'), 'conference', 'index')%></h4>
    <ul>
      <li><%= article_link(t('menu.conference.about'), 'conference', "index")%></li>
      <li><%= article_link(t('menu.conference.history'), 'conference', "history") %></li>
      <li><%= article_link(t('menu.conference.press'), 'conference', "press")%></li>
      <li><%= article_link(t('menu.conference.place'), 'conference', "place")%></li>
      <li><%= article_link(t('menu.conference.linux'), 'conference', "linux")%></li>
      <li><%= article_link(t('menu.conference.attribution'), 'conference', "attribution")%></li>
    </ul>
  </div>
  <div class="column">
    <h4><%= article_link(t('menu.reports.category'), 'reports', 'index')%></h4>
    <ul>
      <li><%= article_link(t('menu.reports.program'), 'reports', 'program')%></li>
      <li><%= article_link(t('menu.reports.abstract'),'reports', 'abstract')%></li>
      <li><%= article_link(t('menu.reports.materials'), 'reports', 'materials')%></li>
    </ul>
  </div>


  <div class="column">
    <h4><%= link_to(t('menu.user.category'), :controller => '/users', :action  =>"current") %></h4>
    <ul>
      <li><%= link_to(t('menu.user.profile'), :controller => '/users',
      :action  =>"current") %> </li>
      <li><%= link_to(t('menu.user.wiki'), wiki_pages_path)  %></li>
      <li><%= link_to(t('menu.user.conference_registration'),
      conference_registration_list_path(:id => "LVEE 2009"))  %></li>
    </ul>
  </div>

  <div class="column">
    <h4><%= article_link(t('menu.sponsors'), "sponsors", "index") %></h4>
  </div>
  <div class="column">
    <h4><%= article_link(t('menu.contacts.category'), "contacts", "index")  %></h4>
    <ul>
      <li><%= article_link(t('menu.contacts.official'), "contacts", "official")%></li>
      <li><%= article_link(t('menu.contacts.organizers'), "contacts", "organizers")%></li>
      <li><%= article_link(t('menu.contacts.lug'), "contacts", "lug")%></li>
    </ul>
  </div>

</div><!-- footer -->
