<div class="footer">
  <span class="copy">Copyright © 2009 Minsk Linux User Group</span>


  <div class="column">
    <h4><%= article_link(t('menu.conference.about'), 'conference', 'index')%></h4>
    <ul>
      <li><%= article_link(t('menu.conference.about'), 'conference', "index")%></li>
      <li><%= article_link(t('menu.conference.history'), 'conference', "history") %></li>
      <li><%= article_link(t('menu.conference.press'), 'conference', "press")%></li>
      <li><%= article_link(t('menu.conference.place'), 'conference', "place")%></li>
      <li><%= article_link(t('menu.conference.linux'), 'conference', "linux")%></li>
    </ul>
  </div>
  <div class="column">
    <h4><%= article_link(t('menu.reports.category'), 'reports', 'index')%></h4>
    <ul>
      <li><%= article_link(t('menu.reports.program'), 'reports', 'program')%></li>
      <li><%= article_link(t('menu.reports.abstract'),'reports', 'abstract')%></li>
      <li><%= article_link(t('menu.reports.materials'), 'reports', 'materials')%></li>
    </ul>
  </div>


  <div class="column">
    <h4><%= link_to(t('menu.profile'), :controller => '/users', :action =>"current") %></h4>
  </div>

  <div class="column">
    <h4><%= article_link(t('menu.sponsors'), "sponsors", "index") %></h4>
  </div>
  <div class="column">
    <h4><%= article_link(t('menu.contacts'), "contacts", "index")  %></h4>
  </div>

</div><!-- footer -->
