.footer
  #footer-menu
    = render_footer_menu

  .copy.clear
    %a(href="http://creativecommons.org/licenses/by-sa/3.0/") <img src="/images/80x15.png" alt="licensed under Creative Commons" />
    %p= t('message.license.text')

    %p.engine= t('message.license.engine', link: link_to("LVEE engine", 'http://github.com/lvee-conference/lvee/')).html_safe
- if editor? || admin?
  = javascript_include_tag "admin", debug: Rails.env.development?
- else
  = javascript_include_tag "application", debug:Rails.env.development?
- if @site.try(:javascript)
  = javascript_include_tag(@site.file_url('script'))
  = render "/layouts/partials/google_analytics"
- if editor? || admin?
  :javascript
    $(function(){
    $.datepicker.setDefaults($.datepicker.regional['#{I18n.locale}']);
    });
:javascript
  (function() {
    window.___gcfg = {lang: '<%= session[:lang] %>'};
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
