<%# Page header, it's common for all pages-%>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title><%= h(@title || "LVEE") %></title>
  <meta name="keywords" content="<%= h @keywords %>" />
  <meta name="description" content="<%= h @description %>" />

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "prototype", "menu" %>
  <%= javascript_include_tag :defaults if editor? %>
  <%= calendar_date_select_includes 'silver' if editor? %>
  <%= auto_discovery_link_tag(:rss, rss_news_path) %>
</head>
