<%# Page header, it's common for all pages-%>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title><%= h(@title || "LVEE") %></title>
  <meta name="keywords" content="<%= h @keywords %>" />
  <meta name="description" content="<%= h @description %>" />
  <style type="text/css"> @import url("/stylesheets/style.css");</style>

  <%= javascript_include_tag "all" %>
  <%= calendar_date_select_includes 'silver' %>
  <%= auto_discovery_link_tag(:rss, rss_news_path) %>
</head>
