%head
  %meta(http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8")
  %title= page_title
  %meta{name: "keywords", content: @metainfo.keywords}
  %meta{name: "description", content: @metainfo.description}
  %meta{property: "og:image", content: "http://lvee.org/images/tux.png"}
  %link{rel:"image_src", href: "http://lvee.org/images/tux.png"}

  = stylesheet_link_tag "application", :debug => Rails.env.development?
  = stylesheet_link_tag "print", :media => "print"
  - if @site.try(:stylesheet)
    = stylesheet_link_tag(@site.file_url('style'), media: :all)

  - if @canonical_url
    %link(rel="canonical" href=@canonical_url)
  = auto_discovery_link_tag(:rss, rss_news_item_index_path)
  = csrf_meta_tag

  <!--[if lte IE 6]>
  <script type="text/javascript" src="/djs/ie_fuck.js"></script>
  <![endif]-->
