<%# Page header, it's common for all pages-%>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title><%= h(@title || "LVEE") %></title>
  <meta name="keywords" content="<%= h @keywords %>" />
  <meta name="description" content="<%= h @description %>" />

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "prototype", "menu" %>
  <% if @active_scaffold %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "style-end" %>
  <% end %>
  <%= auto_discovery_link_tag(:rss, rss_news_path) %>\
  <% if editor? %>
  <script type="text/javascript">
    <% days = I18n.translate(:'date.abbr_day_names') %>
    Date.weekdays = $w("<%= (days[1..-1] + [days[0]]).join(' ') %>");
    Date.months = $w("<%=(I18n.translate(:'date.month_names')[1..-1].join(' '))%>");
    Date.first_day_of_week = 1
  </script>
  <% end %>
</head>
