<%# Page header, it's common for all pages-%>
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title><%= page_title %></title>
  <meta name="keywords" content="<%= @metainfo.keywords %>" />
  <meta name="description" content="<%= @metainfo.description %>" />

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>

  <%= auto_discovery_link_tag(:rss, rss_news_item_index_path) %>

  <%= csrf_meta_tag %>

  <!--[if lte IE 6]>
  <script type="text/javascript" src="/djs/ie_fuck.js"></script>
  <![endif]-->
</head>
