<div id="sub-menu" class="menu">
  <ul>

    <%= menu_item('home', :controller => 'main') %>

    <% menu_item('about',  :controller => 'about') do %>
      <div class="sub-menu">
        <%= sub_menu_item('history', :controller => 'about', :action => 'history') %>
        <%= sub_menu_item('press',  :controller => 'about', :action => 'press') %>
        <%= sub_menu_item('place of the conference',  :controller => 'about', :action => 'place') %>
        <%= sub_menu_item('linux',   :controller => 'about', :action => 'linux') %>
      </div>
    <% end %>

    <% menu_item('program',  :controller => 'program') do %>
      <div class="sub-menu">
        <%= sub_menu_item('past conferences materials', :controller => 'program', :action => 'materials') %>
      </div>
    <% end %>

    <%= menu_item('sponsors',   :controller => 'sponsors') %>

    <% menu_item('attendants', :controller => 'participants') do %>
      <div class="sub-menu">
        <%= sub_menu_item('abstracts guidelines', :controller => 'participants', :action => 'tezis') %>
        <%= sub_menu_item('to volunteers', :controller => 'participants', :action => 'contribute') %>
        <%= sub_menu_item('accomodation', :controller => 'participants', :action => 'dislocation') %>
      </div>
    <% end %>

    <%= menu_item('contacts',   :controller => 'contacts')  %>

  </ul>
  <div class="clear"></div>
</div>
