<ul>
  <li class="first"><%= link_to(t('menu.main'), :controller => "main")%></li>
  <li class="sub"><%= link_to(t('menu.conference.about'), :controller => "articles", :category => 'conference', :name => 'index', :action => 'show')%></li>
  <li class="sub"><%= link_to(t('menu.reports.category'), :controller => "articles", :category => 'reports', :name => 'index', :action => 'show')%></li>
  <li class="sub"><%= link_to(t('menu.profile'), :controller => '/users', :action =>"current") %></li>
  <li><%= link_to(t('menu.sponsors'), :controller => 'sponsors') %></li>
  <li class="last"><%= link_to(t('menu.contacts'), :controller => 'contacts')  %></li>
</ul>
