<ul id="sub-menu">
  <li class="first"><%= link_to(t('menu.main'), :controller => "/main")%></li>
  <li class="sub">
    <ul>
      <li><%= article_link(t('menu.conference.about'), 'conference', "index")%></li>
      <li><%= article_link(t('menu.conference.history'), 'conference', "history") %></li>
      <li><%= article_link(t('menu.conference.press'), 'conference', "press")%></li>
      <li><%= article_link(t('menu.conference.place'), 'conference', "place")%></li>
      <li><%= article_link(t('menu.conference.linux'), 'conference', "linux")%></li>
      <li class="last-m"><%= article_link(t('menu.conference.attribution'), 'conference', "attribution")%></li>
    </ul>
    <%= article_link(t('menu.conference.about'), 'conference', 'index')%>
  </li>
  <li class="sub">
    <ul>
      <li><%= article_link(t('menu.reports.about'), 'reports', 'index')%></li>
      <li><%= article_link(t('menu.reports.program'), 'reports', 'program')%></li>
      <li><%= article_link(t('menu.reports.abstract'),'reports', 'abstract')%></li>
      <li class="last-m"><%= article_link(t('menu.reports.materials'), 'reports', 'materials')%></li>
    </ul>
    <%= article_link(t('menu.reports.category'), 'reports', 'index')%>
  </li>
  <li class="sub">
    <ul>
      <li><%= link_to(t('menu.profile'), :controller => '/users',
      :action  =>"current") %> </li>
      <li class="last-m"><%= link_to(t('menu.wiki'), wiki_pages_path)  %></li>
    </ul>
    <%= link_to(t('menu.attendants'), :controller => '/users',
      :action  =>"current") %>
  </li>

  <li><%= article_link(t('menu.sponsors'), "sponsors", "index") %></li>
  <li class="sub last">
    <ul>
      <li><%= article_link(t('menu.contacts.official'), "contacts", "official")%></li>
      <li><%= article_link(t('menu.contacts.organizers'), "contacts", "organizers")%></li>
      <li class="last-m"><%= article_link(t('menu.contacts.lug'), "contacts", "lug")%></li>
    </ul>
    <%= article_link(t('menu.contacts.category'), "contacts", "index")  %>
  </li>
</ul>
