<ul id="sub-menu">
  <li class="first"><%= link_to(t('menu.main'), :controller => "main")%></li>
  <li class="sub">
    <ul id="xyz">
      <li><%= link_to(t('menu.conference.about'), :controller => "articles", :category => 'conference', :name => 'index', :action => 'show')%></li>
      <li><%= link_to(t('menu.conference.history'), :controller => "articles", :category => 'conference', :name => 'history', :action => 'show')%></li>
      <li><%= link_to(t('menu.conference.press'), :controller => "articles", :category => 'conference', :name => 'press', :action => 'show')%></li>
      <li><%= link_to(t('menu.conference.place'), :controller => "articles", :category => 'conference', :name => 'place', :action => 'show')%></li>
      <li class="last-m"><%= link_to(t('menu.conference.linux'), :controller => "articles", :category => 'conference', :name => 'linux', :action => 'show')%></li>
    </ul>
    <%= link_to(t('menu.conference.about'), :controller => "articles",
    :category => 'conference', :name => 'index', :action => 'show')%>
  </li>
  <li class="sub">
    <ul>
      <li><%= link_to(t('menu.reports.program'), :controller => "articles", :category => 'reports', :name => 'program', :action => 'show')%></li>
      <li><%= link_to(t('menu.reports.abstract'), :controller => "articles", :category => 'reports', :name => 'abstract', :action => 'show')%></li>
      <li class="last-m"><%= link_to(t('menu.reports.materials'), :controller => "articles", :category => 'reports', :name => 'materials', :action => 'show')%></li>
    </ul>
    <%= link_to(t('menu.reports.category'), :controller => "articles",
    :category => 'reports', :name => 'index', :action => 'show')%>
  </li>
  <li><%= link_to(t('menu.profile'), :controller => '/users', :action =>"current") %></li>
  <li><%= link_to(t('menu.sponsors'), :controller => 'sponsors') %></li>
  <li class="last"><%= link_to(t('menu.contacts'), :controller => 'contacts')  %></li>
</ul>
