<div id="sub-menu" class="menu">
  <ul>

    <%= menu_item('главная', :controller => 'main') %>

    <% menu_item('о проекте',  :controller => 'about') do %>
      <ul class="sub-menu">
        <%= menu_item('история', :controller => 'about', :action => 'history') %>
        <%= menu_item('пресса',  :controller => 'about', :action => 'press') %>
        <%= menu_item('место проведения',  :controller => 'about', :action => 'place') %>
        <%= menu_item('linux',   :controller => 'about', :action => 'linux') %>
      </ul>
    <% end %>

    <% menu_item('программа',  :controller => 'program') do %>
      <ul class="sub-menu">
        <%= menu_item('материалы прошлых конференций', :controller => 'program', :action => 'materials') %>
      </ul>
    <% end %>
    <%= menu_item('спонсоры',   :controller => 'sponsors') %>
    <% menu_item('участникам', :controller => 'participants') do %>
      <ul class="sub-menu">
        <%= menu_item('правила оформления тезисов', :controller => 'participants', :action => 'tezis') %>
        <%= menu_item('волонтерам', :controller => 'participants', :action => 'contribute') %>
        <%= menu_item('размещение', :controller => 'participants', :action => 'dislocation') %>
      </ul>
    <% end %>
    <%= menu_item('контакты',   :controller => 'contacts')  %>
  </ul>
  <div class="clear"></div>
</div>
