<div id="sub-menu" class="menu">
  <ul>

    <%= menu_item('головна', :controller => 'main') %>

    <% menu_item('про проект',  :controller => 'about') do %>
      <div class="sub-menu">
        <%= sub_menu_item('історія', :controller => 'about', :action => 'history') %>
        <%= sub_menu_item('преса',  :controller => 'about', :action => 'press') %>
        <%= sub_menu_item('місце проведення',  :controller => 'about', :action => 'place') %>
        <%= sub_menu_item('linux',   :controller => 'about', :action => 'linux') %>
      </div>
    <% end %>

    <% menu_item('програма',  :controller => 'program') do %>
      <div class="sub-menu">
        <%= sub_menu_item('матеріали минулих конференцій', :controller => 'program', :action => 'materials') %>
      </div>
    <% end %>

    <%= menu_item('спонсори',   :controller => 'sponsors') %>

    <% menu_item('учасникам', :controller => 'participants') do %>
      <div class="sub-menu">
        <%= sub_menu_item('правила оформлення тез', :controller => 'participants', :action => 'tezis') %>
        <%= sub_menu_item('волонтерам', :controller => 'participants', :action => 'contribute') %>
        <%= sub_menu_item('розміщення', :controller => 'participants', :action => 'dislocation') %>
      </div>
    <% end %>

    <%= menu_item('контакти',   :controller => 'contacts')  %>

  </ul>
  <div class="clear"></div>
</div>

