<% sponsors = Sponsor.list %>
<ul>
  <li><%= link_to(t('sidebar.organizers'), :controller => "articles",
  :category => 'contacts', :name => 'index', :action => 'show') %>
    <ul>
      <%= render :partial => "layouts/partials/sponsor", :collection => sponsors["organizer"] %>
    </ul>
  </li>
  <li><%= link_to(t('sidebar.sponsors'), :controller => "articles", :category => 'sponsors', :name => 'index', :action => 'show') %>
    <ul>
      <%= render :partial => "layouts/partials/sponsor", :collection => sponsors["sponsor"] %>
    </ul>
  </li>
  <li><%= link_to(t('sidebar.technical_sponsor'), :controller => "articles", :category => 'sponsors', :name => 'index', :action => 'show') %>
    <ul>
      <%= render :partial => "layouts/partials/sponsor", :collection => sponsors["technical"] %>
    </ul>
  </li>
  <li><%= link_to(t('sidebar.information_sponsor'), :controller => "articles", :category => "conference", :name => "press", :action => 'show') %>
    <ul>
      <%= render :partial => "layouts/partials/sponsor", :collection => sponsors["information"] %>
    </ul>
  </li>
</ul>
