%li.menu{id: dom_id(item)}
  %span.path{class: [!item.enabled? && 'disabled']}
    = link_to "Title is '#{t(item.title)}' (#{item.title}), path is '#{item.path}'", "/#{I18n.locale}/#{item.path}"
  %span.control
    = link_to t('label.menu.edit.up'), admin_menu_path(item, move: :up), method: :put
    = link_to t('label.menu.edit.down'), admin_menu_path(item, move: :down), method: :put
    - if item.enabled?
      = link_to t('label.menu.edit.disable'), admin_menu_path(item, disable: 1), method: :put
    - else
      = link_to t('label.menu.edit.enable'), admin_menu_path(item, enable: 1), method: :put
      = link_to t('label.menu.edit.delete'), admin_menu_path(item), method: :delete
  - unless subitems.empty?
    %ul.submenu
      = render partial: "tree", locals: {menu: subitems, level: level + 1, item: item}
