<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <%= render(:partial => 'layouts/partials/head') %>
  <body>
    <div id="wrapper" class="container">
      <%= render(:partial => 'layouts/partials/top') %>

      <div id="splash"></div>
      <div id="slogan"><%= raw t('message.conference.slogan')%></div>

      <div id="admin-top"></div>
      <div id="content" class="content admin">
        <%= flashes_if_any %>
        <%= yield %>

      </div><!-- content -->
    </div> <!-- all -->

    <div id="footer-box" class="footer">
      <%= render :partial => "/layouts/partials/footer"%>
    </div>
  </body>
</html>
