<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> LVEE 2008 </title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="navigation">
  <%= link_to 'Новости', news_path %>
  <%= link_to 'Пользователи', users_path %>
  <%= link_to 'Войти', new_session_path %>
  <%= link_to 'Зарегистрироваться', new_user_path %>
</div>

<%= flashes_if_any %>

<%= yield  %>

</body>
</html>
