<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <%= render(:partial => 'layouts/partials/head') %>
  <body>
    <div id="wrapper" class="all container">
      <%= render :partial => "/editor/metainfos/editor" if admin? %>
      <%= render(:partial => 'layouts/partials/top') %>

      <div id="splash"></div>
      <div id="slogan"><%= t('message.conference.slogan')%></div>

      <div id="content">
        <div id="article-box">
          <div id="article-top"></div>
          <div id="article-bg">
            <%= flashes_if_any %>

            <div id="news-box">
              <%= render :partial => "/news/news_main"%>
            </div>

            <div class="articles">
              <%= article_output('main', 'conference') %>
            </div>

            <% unless current_user %>
            <div class="button-join"><%= link_to  t('label.user.join_us'), new_user_path %>
            <p><img alt="tux" src="/images/tux.png"/></p></div>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>

        <div id="sponsors-box">
          <div id="sponsor-top"></div>
          <%= render :partial => "/layouts/partials/sidebar"%>
        </div>
        <div class="clear"></div>
      </div><!-- content -->


    </div> <!-- all -->

    <div id="footer-box" class="footer">
      <%= render :partial => "/layouts/partials/footer"%>
    </div>
    <%= render :partial => "/layouts/partials/google_analytics" %>
  </body>
</html>
